<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <title>Página Principal</title>
</head>

<body>
  <%- include("../partials/header")%>
  <main>
    <section class="sec-ofertas">
      <div class="titulos">
        <h3>Ofertas</h3>
        <i class="fas fa-arrow-left"></i>
        <i class="fas fa-arrow-right"></i>
      </div>

      <div class="productos">
        <article>
          <img src="img/ultraboost.jpg" alt="Ultraboost" />
          <div class="main-product">

            <i class="fas fa-cart-plus"></i>
          </div>
        </article>

        <article>
          <img src="img/Zapp1.png" alt="ZAPP#1" />
          <div class="main-product">

            <i class="fas fa-cart-plus"></i>
          </div>
        </article>

        <article>
          <img src="img/Zapp2.jpg" alt="ZAPP#2" />
          <div class="main-product">

            <i class="fas fa-cart-plus"></i>
          </div>
        </article>

        <article>
          <img src="img/Zapp7.png" alt="ZAPP#3" />
          <div class="main-product">

            <i class="fas fa-cart-plus"></i>
          </div>
        </article>
      </div>

    </section>
    <section class="sec-prod-destacados">
      <div class="titulos">
        <h3>Productos Destacados</h3>
        <i class="fas fa-arrow-left"></i>
        <i class="fas fa-arrow-right"></i>
      </div>

      <div class="productos">
        <article>
          <img src="img/Zapp8.jpg" alt="ZAPP#4" />
          <div class="main-product">
            <i class="fas fa-cart-plus"></i>
          </div>
        </article>

        <article>
          <img src="img/Zapp9.jpg" alt="ZAPP#5" />
          <div class="main-product">

            <i class="fas fa-cart-plus"></i>
          </div>
        </article>

        <article>
          <img src="img/Zapp10.jpg" alt="ZAPP#6" />
          <div class="main-product">

            <i class="fas fa-cart-plus"></i>
          </div>
        </article>

        <article>
          <img src="img/Zapp11.jpg" alt="ZAPP#7" />
          <div class="main-product">

            <i class="fas fa-cart-plus"></i>
          </div>
        </article>
      </div>


    </section>
    <section class="sec-ultima-coleccion">
      <div class="titulos">
        <h3>Última Colección</h3>
        <i class="fas fa-arrow-left"></i>
        <i class="fas fa-arrow-right"></i>
      </div>

      <div class="productos">

        <article>
          <img src="img/Zapp12.jpg" alt="ZAPP#8" />
          <div class="main-product">
            <i class="fas fa-cart-plus"></i>
          </div>
        </article>

        <article>
          <img src="img/Zapp13.jpg" alt="ZAPP#9" />
          <div class="main-product">
            <i class="fas fa-cart-plus"></i>
          </div>
        </article>

        <article>
          <img src="img/Zapp3.jpg" alt="ZAPP#10" />
          <div class="main-product">
            <i class="fas fa-cart-plus"></i>
          </div>
        </article>

        <article>
          <img src="img/Zapp14.png" alt="ZAPP#11" />
          <div class="main-product">
            <i class="fas fa-cart-plus"></i>
          </div>
        </article>

      </div>

    </section>
  </main>
 
</body>
 <%- include("../partials/footer")%>
</html>