<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito.css" />
    <title>Carrito de compras</title>
    <script src="https://kit.fontawesome.com/6641947d89.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <img class="logo" src="/img/Zapp-alt.png" alt="Logo Zapp">
        <div class="main-navbar">
            <a href="/">
                <button><i class="fa-solid fa-arrow-left"></i></button>
                </a>
          <div class="opciones">
            <ul>
              <li><a href="#">Hombres</a></li>
              <li><a href="#">Mujeres</a></li>
              <li><a href="#">Niñ@</a></li>
            </ul>
          </div>
          <div class="opciones">
            <ul>
              <li>
                <a href="./login"><i class="fas fa-user"></i></a>
              </li>
            </ul>
          </div>
          <div class="menu">
            <i class="fas fa-bars"></i>
          </div>
        </div>
      </header>

    <main class="main-content">
        <section class="carrito">
            <h2>Tu carrito</h2>
            
            <img src="img/ultraboost.jpg" alt="Zapatilla 1" width="200" height="200" >
            <img src="img/ultraboost.jpg" alt="Zapatilla 2" width="200" height="200" >
            
        </section>
        <div class="resumenPago">
        <section class="resumen">
            <h2>Resumen del pedido</h2>
            <p>Entrega: 15/12</p>
            <p>Productos: 2</p>
            <p>Total a pagar: $15000</p>
        </section>

        <section class="pagar">
            <h2>Opciones de pago</h2>
            <div>
            <p><i class="fa-brands fa-cc-visa" ></i></p>
            <p><i class="fa-brands fa-cc-mastercard" ></i></p>
            </div>
            <button class="pago">IR A PAGAR</button>
        </section>
        </div>
    </main>
    <footer>
        <p>¿Tienes alguna duda?</p>
        <p>Lunes - Viernes: 9:00 - 21:00</p>
        <p>Sábado: 10:00 - 18:00</p>
        <div>
        <a class="referencias" href="#">Aviso de privacidad</a>
        <a class="referencias" href="#">Términos y Condiciones</a>
        <a class="referencias" href="#">Nuestros datos</a>
        </div>
        <p>Copyright® 2023 DH Venture Capitals. Todos los derechos reservados</p>
    </footer>
</body>
</html>