<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <title>Página Principal</title>
  </head>

  <body>
    <header>
      <div class="logo">
        <img src="/img/Logo.jpg" alt="Zapp Logo" />
      </div>
      <div class="main-navbar">
        <ul class="menu-opciones">
          <li><a href="#">Hombres</a></li>
          <li><a href="#">Mujeres</a></li>
          <li><a href="#">Niñ@</a></li>
        </ul>
        <ul>
          <li>
            <a href="./carrito"><i class="fas fa-shopping-cart"></i></a>
          </li>
          <li>
            <a href="./login"><i class="fas fa-user"></i></a>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <section>
        <div>
          <i class="fas fa-arrow-left"></i>
          <article>
            <img src="img/ultraboost.jpg" alt="Ultraboost" />
            <div>
              <i class="fas fa-cart-plus"></i>
            </div>
          </article>
          <i class="fas fa-arrow-right"></i>
        </div>
      </section>
      <section>
        <h3>Productos Destacados</h3>
        <div>
          <i class="fas fa-arrow-left"></i>
          <article>
            <img src="img/ultraboost.jpg" alt="Ultraboost" />
            <div>
              <i class="fas fa-cart-plus"></i>
            </div>
          </article>
          <article>
            <img src="img/ultraboost.jpg" alt="Ultraboost" />
            <div>
              <i class="fas fa-cart-plus"></i>
            </div>
          </article>
          <article>
            <img src="img/ultraboost.jpg" alt="Ultraboost" />
            <div>
              <i class="fas fa-cart-plus"></i>
            </div>
          </article>
          <i class="fas fa-arrow-right"></i>
        </div>
      </section>
      <section>
        <h3>Última Colección</h3>
        <div>
          <i class="fas fa-arrow-left"></i>
          <article>
            <img src="img/ultraboost.jpg" alt="Ultraboost" />
            <div>
              <i class="fas fa-cart-plus"></i>
            </div>
          </article>
          <article>
            <img src="img/ultraboost.jpg" alt="Ultraboost" />
            <div>
              <i class="fas fa-cart-plus"></i>
            </div>
          </article>
          <article>
            <img src="img/ultraboost.jpg" alt="Ultraboost" />
            <div>
              <i class="fas fa-cart-plus"></i>
            </div>
          </article>
          <i class="fas fa-arrow-right"></i>
        </div>
      </section>
    </main>
    <footer>
      <div class="column">
        <h3>Nuestras Redes Sociales</h3>
        <ul>
          <li>
            <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>

      <div class="column">
        <h3>Contacto</h3>
        <p>Dirección: xyz. Santiago del Estero - Argentina</p>
        <p>Email: contacto@zapp.com</p>
        <p>Teléfono: +5493854000000</p>
      </div>

      <div class="column">
        <h3>Ayuda</h3>
        <ul>
          <li><a href="#">Envíos y entregas</a></li>
          <li><a href="#">Cambios</a></li>
          <li><a href="#">Devoluciones</a></li>
          <li><a href="#">Opciones de pago</a></li>
          <li><a href="#">Prguntas frecuentes</a></li>
        </ul>
      </div>

      <div class="column">
        <img src="/img/logo.jpg" alt="Zapp logo" />
      </div>
    </footer>
  </body>
</html>
