<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <title>Zapp</title>
</head>
<body>
  <header>
    <div class="logo" ><a href="./index.html"><img src="/img/Zapp-alt.png" alt="imagen de logo"></a></div>
  </header>
  <section>
    <div class="form-box">
      <div class="form-value">
        <form action="" method="post">
          <h2>Bienvenidos/a</h2>
          <h1>Inicia Sesión o <a href="./registration">Crea tu Cuenta</a></a></h1>
          <div class="inputbox">
            <i class="fas fa-envelope"></i><input type="email" required placeholder="Introduzca su E-mail">
          </div>
          <div class="inputbox">
            <i class="fas fa-lock"></i><input type="password" required placeholder="Introduzca su Contraseña">
          </div>
          <button>Iniciar sesión</button>
          <div class="forget">
            <a href="#">Olvidé mi contraseña</a>
          </div>
        </form> 
      </div> 
    </div>
  </section> 
</body>
</html>