<!DOCTYPE html>
<html lang="es">

<head>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <title>Zapp</title>
</head>

<body>
  <header>
    <div class="logo"><a href="./index.html"><img src="/img/Zapp-alt.png" alt="imagen de logo"></a></div>
  </header>
  <section>
    <div class="form-box">
      <div class="form-value">
        <form action="" method="post">
          <h2>Bienvenido/a</h2>
          <p>Inicia Sesión o <a href="./registration">Crea tu cuenta</a></p>
          <div class="elementos-formulario">
            <div class="inputs">
              <i class="fas fa-envelope"></i><input type="email" required placeholder="Introduzca su E-mail">
            </div>
            <div class="inputs">
              <i class="fas fa-lock"></i><input type="password" required placeholder="Introduzca su Contraseña">
            </div>
            <div>
              <button>Iniciar sesión</button>
            </div>

            <a href="#">Olvidé mi contraseña</a>
          </div>

        </form>
      </div>
    </div>
  </section>
  <footer>

    <p>Copyright® 2023 DH Venture Capitals. Todos los derechos reservados</p>
  </footer>

</body>

</html>