<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripción del Producto</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>
<body>
    
    <header>
            <span><img src="/img/Logo.jpg" alt="Logo ZAPP" width="40" height="40"></span>
            <a href="./carrito"><i class="fas fa-shopping-cart"></i></a>
            <span><i class="fa-solid fa-bars"></i></span>
    </header>
    <main>
        <h5><a href="/login" >Inicio ></a> Detalle del producto</h5>
        <div class="contenedorFotos">
            <div>
                <img src="/img/Zapp3.jpg" alt="Foto del Producto" width="200" height="200">
                <img src="/img/Zapp4.jpg" alt="Foto del Producto" width="200" height="200">
            </div>
            <div>
                <img src="/img/Zapp5.jpg" alt="Foto del Producto" width="200" height="200">
                <img src="/img/Zapp6.jpg" alt="Foto del Producto" width="200" height="200">
            </div>
        </div>

        <div class="contenedorDescripcion">
            <p>Modelo ZAPP#1</p>
            <p>$70000 </p>
            <p>Color</p>
            <span><img src="/img/Color1.png" alt="Color 1" width="40" height="40"><img src="/img/Color2.png" alt="Color 2" width="40" height="40"><img src="/img/Color3.jpg" alt="Color 3" width="40" height="40"></span>
        </div>


    </main>
    <foother>

    </foother>
</body>
</html>