<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registration.css">
    <title>Registrarse</title>
</head>
<body>
    <header>
        <div class="logo" ><a href="./index.html"><img src="/img/Zapp-alt.png" alt="imagen de logo"></a></div>
    </header>
    <main>
        <div class="registration-title"><h3>Para tener una mejor experiencia registrate con nosotros colocando tus datos aqui:</h3></div>
        <form class="inputs" action="#" method="`POST">
            <input type="text" name="name" required placeholder="Nombre">
            <input type="text" name="lastname" required placeholder="Apellido">
            <input type="email" name="email" required placeholder="Tu dirección de correo">
            <input type="email" name="mailConfirmation" required placeholder="Confirma tu direccion de correo">
            <input type="password" name="pass" required placeholder="Contraseña">
        </form>
        <div class="pass">
            <span class="simbolo-pass">(?)</span>
            <span class="requisito-pass">La contraseña debe tener al menos 6 caracteres</span>
        </div>
        <div class="checkbox-registro">
            <div>
                <input type="checkbox" name="checkbox_ofertas" id="checkbox_ofertas">
                <label for="checkbox_ofertas">Recibir Ofertas!</label>
            </div>
            <div>
                <input type="checkbox" name="checkbox_terminos_y_condiciones" id="checkbox_terminos_y_condiciones">
                <label for="checkbox_terminos_y_condiciones">Eh leído los <a href="">Términos y Condiciones</a> DH Venture Capitals y su <a href="">Política de privacidad.</a></label>
            </div> 
        </div>
        <div  class="bt-registration"><button type="submit">Registrarme</button></div>
        <div class="link-login">
            <span>Ya tienes cuenta?</span> 
            <span class="line"></span>
        </div>
        <div  class="bt-in">
            <a href="./login"><button>Ingresar</button></a>
        </div>
    </main>
    <footer></footer>    
</body>
</html>