* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #161850;
}

.main-header {
  background-color: #e9f1f1;
  font-family: "Roboto", sans-serif;
  padding: 0px 10px;
  display: flex;
}

.header-logo{
  width: 100px;
  height: 100px;
}

.main-navbar {
  display: flex;
  padding: 0;
  margin-top: 0px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.main-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header a {
  margin: 10px;
  text-decoration: none;
  color: #222222;
  padding: 5px 0;
}

.header-category{
  text-align: justify;
}

.header-category h4 a {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 10px;
  border: 1px solid #161850;
  padding: 5px;
  border-radius: 50px;
  transition: color 500ms, background-color 500ms, border 500ms, transform 300ms;
}

.header-category h4:hover a {
  color: #E9F1F1;
  background-color: #27374D;
  border: 1px solid #000000;
  transform: scale(1.4);
}

.header-category h4 a {
  box-shadow: 0px 0px 10px rgb(146, 146, 146);
}

.header-category ul li a i {
  font-size: 18px;
  transition: transform 0.3s ease;
}

.header-category ul li a:hover i {
  transform: scale(1.4);
}

.header-logo{
  transition: transform 0.3s ease;
}

.header-logo:hover {
  transform: scale(1.2);
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.header-menu {
  text-align: center;
  display: block;
}

.header-menu i {
  text-align: center;
  background-color: #161850;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  margin: 20px 0px 20px 0px;
  padding: 10px;
  width: 40px;
}

main{
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
}

.contenedor-principal{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
}

.contenedor-principal form{
  width: 60%;
}

.contenedor-principal div{
  margin-top: 5px;
  margin-bottom: 10px;
}

.form-label{
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}

.form-label input{
  width: 50%;
}

.form-options{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.form-options select{
  width: 50%;
}

.form-description{
  display: flex;
  padding-top:20px;
  flex-direction: row;
  justify-content: space-between;  
}

.form-description textarea{
  width: 50%;
}

.form-images{
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  padding-bottom: 20px;
}

.contenedor-secundario{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-secundario input{
  display: flex;
  flex-direction: column;
}

.botones{
  display: flex;
  justify-content: space-around; 
}

.botones button{
  background-color:#ffffff;
  border-radius: 5px;
  color:#161850;
  border:solid 1px #000000;
  font-size: 20px;
  margin-top:  15px;
  margin-bottom: 15px;
  padding: 10px;
  width: 30%;
  transition: background-color 800ms;
  transition: color 800ms;
}

.botones button:hover{
  background-color: #161850;
  color: #ffffff
}

button{
  color: white;
  background-color: #161850;
  border-color: #161850;
  border-style: solid;  
}

label{
  color: #161850;
  font-weight: bold;
  margin: 5px 0px;
}

footer .foot {
  display: flex;
  background-color: #E9F1F1;
  justify-content: space-around;
  padding: 10px;
}

.foot .header-logo-footer {
  padding-top: 17px;
}

.header-logo-footer{
  display: none;
}

footer .column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .redes {
  width: 100%;
  padding: 0.5rem 8%;
  background-color: #E9F1F1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-top:  1px solid #cdcaca;
}

.redes a {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #999898;
  margin: 1rem;
  background-position: center;
  background-size: 40%;
  transition: background-color 250ms, filter 250ms;
}

.redes i {
  margin: 1rem;
  color: #262f75
}

.redes a:hover {
  background-color: #919d62;
  filter: invert(1);

}

footer h3, footer a, footer p{
  margin-bottom: 10px;
  font-family: 'Fira Sans', sans-serif;
}

footer .foot h3{
  color:#120462;
  padding-top:10px;
}

footer .ayuda li a, footer p {
  color: #262f75;
}

.ayuda a {
  text-decoration-line: none;
}

@media (min-width: 361px){
 
    .header-menu {
        display: none;

    }

    .header-category{
        display: flex;
    }
    
}

@media (min-width: 769px){
    
    .header-menu{
        display: none;
    }

    .header-category{
        display: flex;
    }

    main section div.productos article{
        width: 22%;
    }

    .logo-footer{
        display: flex;
    }

}