*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #E9F1F1;
    width: 100%;
}

.header-logo{
    display: flex;
    justify-content: center;
}

.header-logo img{
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
}

.header-logo img:hover{
    transform: scale(1.2);
}
  
.input input{
    text-align: center;
    height: 30px;
    border: 1px solid #ccc; /* Color de borde predeterminado */
    border-radius: 10px; /* Añade este estilo para redondear las esquinas */
}
  
/* Estilo para resaltar en rojo los campos con error */
.input input.error {
    border: 2px solid red;
    background-color: rgb(255, 240, 240);
  
}
  
/* Estilo para resaltar en verde los campos sin error */
.input input.success {
    border: 2px solid green;
}
  
.error-message {
    display: flex;
    text-align: initial;
    width: 230px;
    font-size: 11px;
    color: red;
    margin-top: 2px;
    margin-left: 32px;
}

.error-message span{
    width: 100%;
}
  
.contenedor-principal{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    width: 350px;
    height: 380px;
    border: 0.5px solid rgb(192, 187, 187);
}

.contenedor-principal h3{
    color: #161850;
}

.contenedor-formulario{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    height: 200px;  
}

.contenedor-principal h3,
.contenedor-principal p{
    margin-top: 20px;
}

.input i{
    margin-right: 10px;
    margin-top: 5px;
    color: #161850;
}

.input input{
    width: 250px;
    margin-top: 15px;
}

.remember{
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
}

.remember label{
    margin-right: 7px;
}

.remember input{
    margin-top: 2px;
}

.contenedor-formulario button{
    width: 70%;
    background-color: #161850;
    color: white;
    border: solid 1px #161850;
}

.botones{
    display: flex;
    justify-content: space-around;
   
}

.botones button{
    background-color:#ffffff;
    background-color:#161850;
    border-radius: 10px;
    color:#161850;
    color:#ffffff;
    border:solid 1px #000000;
    font-size: 20px;
    margin-top:  40px;
    padding: 10px;
    width: 50%;
    height: 30%;
    transition: background-color 800ms;
    transition: color 800ms;
}
  
.botones button:hover{
    background-color: #ffffff;
    color: #161850
}

footer{
    background-color: #E9F1F1;
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
}

footer p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}

@media(max-width: 361px){
    .contenedor-principal{
        border: none;
    }
}