*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #E9F1F1;
    width: 100%;
}
.logo{
    display: flex;
    
    justify-content: center;
}
.logo img{
    width: 100px;
    height: 100px;
    text-align: center;
}

.contenedor-principal{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}
.contenedor-principal h3{
    color: #161850;

}
.contenedor-formulario{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    height: 200px;  
}

.contenedor-principal h3,
.contenedor-principal p{
    margin-top: 20px;
}
.input{
    margin-bottom: 15px;
    width: 300px;
    
}
.input i{
    margin-right: 10px;
    color: #161850;
}
.input input{
    text-align: center;
    
}

.contenedor-formulario button{
    width: 70%;
    background-color: #161850;
    color: white;
    border: solid 1px #161850;
}
footer{
    background-color: #E9F1F1;
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
}

footer p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}

@media (min-width:361px){

}
@media (min-width:769px){
    
    form{
        width: 450px;
    }
    .input{
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    .input input{
        width: 100%;
    }
}