* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

main{
    width: 90%;
    padding: 10px;
    margin: 0 auto;
}

main article img{
    width:50%; 
    height:50%;
}

.main-header{
    background-color: #E9F1F1;
    font-family: "Roboto", sans-serif;
    padding: 0px 10px;
    display: flex;
}
  
.header-category{
    text-align: justify;
}
  
.header-category h4 a{
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 10px;
    border: 1px solid #161850;
    padding: 5px;
    border-radius: 50px;
    transition: color 500ms, background-color 500ms, border 500ms, transform 300ms;
}
  
.header-category h4:hover a{
    color: #E9F1F1;
    background-color: #27374D;
    border: 1px solid #000000;
    transform: scale(1.4);
}
  
.header-category h4 a{
    box-shadow: 0px 0px 10px rgb(146, 146, 146);
}

.header-category ul li a i{
    font-size: 18px; 
    transition: transform 0.3s ease; 
}
  
.header-category ul li a:hover i{
    transform: scale(1.4); 
}
  
.header-logo{
    width: 100px;
    height: 100px;
}

.header-logo img{
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
}

.header-logo img:hover {
    transform: scale(1.2);
}


.header-category{
    display: none;
}
  
.main-navbar {
    display: flex;
    padding: 0;
    margin-top: 0px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
  
.main-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  
}
  
.main-header a {
    margin: 10px;
    text-decoration: none;
    color: #222222;
    padding: 5px 0; 
}

.main-content{
    display:flex;
    justify-content: space-between;
}

.main-content .contenedorFotos{
    width: 50%;
}

.main-content .contenedorDescripcion{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fotoPrimaria img{
    width: 100%;
}

.relacionados{
    display: flex;
    flex-wrap: wrap;
}

.contenedorDescripcion .price{
    color:#666b91;
}

main .contenedorDescripcion form div{
    margin-bottom: 20px;
}

.colores {
    display:flex;
    justify-content: space-evenly;
}

.colores img{
    margin: 1px;
    border-radius: 5px;
    border:solid 1px #000000;
    width:20px;
    height: 20px;
}

.colores img{
    margin: 1px;
    border-radius: 5px;
    border:solid 1px #000000;
}

.boton button{
    margin-top: 10px;
    width: 50%;
    font-weight:bolder;
    padding:10px
}

button{
    background-color:#ffffff;
    border-radius: 5px;
    color:#161850;
    border:solid 1px #000000;
    font-size: 20px;
    margin-top:  15px;
    margin-bottom: 15px;
    width: 50%;
    padding: 10px;
    width: 30%;
    transition: background-color 800ms;
    transition: color 800ms;
}

button:hover{
    background-color: #161850;
    color: #ffffff
}

footer .foot {
    display: flex;
    background-color: #E9F1F1;
    justify-content: space-around;
    padding: 10px;
}
  
  
.foot .logo-footer {
    padding-top: 17px;
}
  
.logo-footer{
    display: none;
}
  
footer .column ul {
    list-style: none;
    margin: 0;
    padding: 0;
  
}
  
footer .redes {
    width: 100%;
    padding: 0.5rem 8%;
    background-color: #E9F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-top:  1px solid #cdcaca;
}
  
.redes a {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #999898;
    margin: 1rem;
    background-position: center;
    background-size: 40%;
    transition: background-color 250ms, filter 250ms;
}
  
.redes i {
    margin: 1rem;
    color: #262f75
}
  
.redes a:hover {
    background-color: #919d62;
    filter: invert(1);
  
}

footer h3, footer a, footer p{
    margin-bottom: 10px;
    font-family: 'Fira Sans', sans-serif;
  
}
  
footer .foot h3{
    color:#120462;
    padding-top:10px;
}

footer .ayuda li a, footer p {
    color: #262f75;
}
  
.ayuda a {
    text-decoration-line: none;
}
    
main section article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

label {
  display: block;
  margin-bottom: 8px;
}

@media (min-width: 361px) {
    
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.productos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section div.productos article{
        width: 45%;
    }

    .header-menu{
        display: none;

    }

    .header-category{
        display: flex;
    }

}

@media (min-width: 769px) {
    
    .fotoSecundaria{
        flex-direction: row;
    }
    
    .header-menu{
        display: none;
    }

    .header-category {
        display: flex;
    }

    .logo-footer {
        display: flex;
    }
    
    main section div.productos article{
        width: 22%;
    }

}

