* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    width: 90%;
    padding: 10px;
    margin: 0 auto;
}

.main-content{
    display:flex;
    justify-content: space-between;
}
.main-content .contenedorFotos{
   
    width: 50%;
}
.main-content .contenedorDescripcion{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.fotoPrimaria img{
    width: 100%;
}
.fotoSecundaria img{
    width: 45%;
}
.fotoSecundaria{
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    flex-direction: column;
}
.main-header {
    background-color: #E9F1F1;
    font-family: "Roboto", sans-serif;
    padding: 0px 10px;
    display: flex;
}


.logo {
    width: 100px;
    height: 100px;

}

.opciones {
    display: none;
}

.main-navbar {
    display: flex;
    padding: 0;
    margin-top: 0px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.main-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.main-header a {
    margin: 10px;
    text-decoration: none;
    color: #222222;
    padding: 5px 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.menu {
    text-align: center;
    display: block;
}

.menu i {
    text-align: center;
    background-color: #161850;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}
.relacionados{
    display: flex;
    flex-wrap: wrap;
}
.contenedorDescripcion .price{
    color:#666b91;
    padding: 5px;
}
.contenedorDescripcion h2{
    margin-top:2px
}
.contenedorDescripcion .tallesss{
    margin-bottom: 5px ;
}
.colores img{
    margin: 1px;

}
.botonAñadir button{
    margin-top: 10px;
    width: 50%;
    padding:10px
}
.titulos{
    display: inline-flex;    
    width: 100%;
    justify-content: space-between;

}
.titulos h3{
    display: flex;
}
.titulos i{
    display: flex;
}

div.productos i {
    border: 2px solid #39b54a;
    border-radius: 50%;
    color: #39b54a;
  }
  section article div.main-product{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    margin-bottom: 15px;
  }
  main section div.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
  main section article{
    background-color: #fff;    
    margin: 10px 0px;
  }
  
  main section article img{
    width: 100%;
  }
  main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 25px;
    top: -15px;
  }
  footer{
    display: flex;
    background-color: #E9F1F1;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
    padding: 10px;
    padding: 10px;
  }

  .logo-footer{
    display: none;
  }
 footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
 }
 .redes{
    width: 25%;
    margin-right: 10px;
 }

 .redes h3{
    text-align: center;
 }

 .redes-sociales{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
 }
 

 .column h3{
    text-align: center;
 }

 .ayuda a{
    text-decoration-line: none;
    color: black;
 }
main section article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


@media (min-width: 361px) {
    .fotoSecundaria{
        display: flex;
        justify-content: space-between;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        flex-direction: column;
    }
    .menu {
        display: none;

    }

    .opciones {
        display: flex;
    }

}

@media (min-width: 769px) {
    .fotoSecundaria{
        flex-direction: row;
    }
    .menu {
        display: none;
    }

    .opciones {
        display: flex;
    }

    .logo-footer {
        display: flex;
    }
}

label {
    display: block;
    margin-bottom: 8px;
}