*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main, header{
    font-family: 'Roboto', sans-serif;
}


main{
    text-align: center;
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 80px;
}


header{
    background-color: #E9F1F1;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.2);
}
}

form{
    margin: auto;
}

.formu{
    width: 300px;
    border: 1px solid rgb(106, 100, 100);
}

.contenedorPrincipal{
    display:flex;
    flex-direction: column;
    margin-top:15px;
}

h2{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#image{
    border: none;
}

.input-imagen{
    border: none;
}

.contenedor-terminos input{
    width: 15%;
    border-radius: 5px;
}

.contenedorPrincipal button{
    background-color: #161850;
    color: white;
    width: 50%;
    height: 10%;
}

.checkbox-registro{
    width: 50%;
    margin: 10px;
    font-size: 11px;
    display: block;
    text-align: justify;
}

.contenedor-terminos{
    display: flex;
    text-align: justify;
    font-size: 10px;
    justify-content: center;
    background-color: #E9F1F1;
    width: 250px;
    height: 50px;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.terminos-condiciones{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;

}

.terminos-condiciones label{
   margin-left: 10px;
}


.checkbox-registro a{
    color: blue
}

.inputs-datos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputs-datos input{
    width: 250px;
    height: 30px;
    margin: auto;
    margin-top: 15px;
    text-align: center;;
    border: 1px solid #ccc; /* Color de borde predeterminado */
    border-radius: 10px;
}
  
/* Estilo para resaltar en rojo los campos con error */
.inputs-datos input.error {
    border: 2px solid red;
    background-color: rgb(255, 240, 240);
}

/* Estilo para resaltar en verde los campos sin error */
.inputs-datos input.success {
    border: 1px solid green;
}

.mensaje-de-error { /* Cambiado de 'mensaje de error' a 'mensaje-de-error' */
    font-size: 11px;
    color: red;
}

.mensaje-de-error-imagen{
    margin-left: -80px;
}

.error-terminos{
    margin-bottom: 20px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color:#E9F1F1;
    text-align: center; 
    height: 40px; 
}

footer p{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 10px;
}

.botones{
    display: flex;
    justify-content: space-around;
   
}

.botones button{
    background-color:#161850;
    border-radius: 5px;
    text-align: center;
    color:#ffffff;
    border:solid 1px #000000;
    font-size: 18px;
    margin-top:  15px;
    margin-bottom: 15px;
    padding: 5px;
    width: 250px;
    height: 40px;
    transition: background-color 800ms;
    transition: color 800ms;
}

.botones button:hover{
    background-color: #161850;
    color: #ffffff;
    background-color: #ffffff;
    color: #161850
}