*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main, header{
    font-family: 'Roboto', sans-serif;
}
main{
    text-align: center;
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 80px;
}
header{
    background-color: #E9F1F1;
}

.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
  }

  .logo img:hover {
    transform: scale(1.2);
  }

.contenedorPrincipal{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:15px;
    justify-content: center;
}
.formu input{

    text-align: center;
    margin-top:15px;
    margin-bottom:15px;
    width: 90%;
    border-radius: 5px;
}



.contenedorPrincipal button{
    background-color: #161850;
    color: white;
    width:50%;
    height: 10%;
}
.checkbox-registro{
    width: 50%;
    margin: 10px;
    font-size: 11px;
    display: block;
    text-align: justify;
}
.terminos-condiciones{
    margin-bottom: 15px;
    width: 80%;
    text-align: justify;
    margin-left: 10%;
    display: flex;
}
.terminos-condiciones input{
    width: 10%;
}
.terminos-condiciones label{
    width: 90%;
    text-align: justify;

}
.contenedor-terminos{
    display: flex;
    
}
.checkbox-registro a{
    color: blue
}
.inputs-datos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  .inputs-datos label{
    margin-top: 13px;
  }
  .inputs-datos input{
    width: 50%;
    text-align: center;
    border: 1px solid #ccc; /* Color de borde predeterminado */
    border-radius: 10px;
  }
  .inputs input{
    width: 50%;

  }
  
/* Estilo para resaltar en rojo los campos con error */
.inputs-datos input.error {
    border: 2px solid red;
    background-color: rgb(255, 240, 240);
}

/* Estilo para resaltar en verde los campos sin error */
.inputs-datos input.success {
    border: 1px solid green;
}

.mensaje-de-error { /* Cambiado de 'mensaje de error' a 'mensaje-de-error' */
    color: red;
    margin-bottom: 15px;
    margin-left: 350px;
}


h2{
    margin-bottom: 30px;
}
.terminos-condiciones{
    margin-top: 20px;
    margin-bottom: 20px;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color:#E9F1F1;
    text-align: center; 
    height: 40px; 
}
footer p{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 10px;
}
.botones{
    display: flex;
    justify-content: space-around;
   
  }
  .botones button{
    background-color:#161850;
    border-radius: 5px;
    color:#ffffff;
    border:solid 1px #000000;
    font-size: 20px;
    margin-top:  15px;
    margin-bottom: 15px;
    padding: 10px;
    width: 30%;
    transition: background-color 800ms;
    transition: color 800ms;
  }
  .botones button:hover{
    background-color: #ffffff;
    color: #161850
  }