*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

main{
  width: 90%;
  padding: 10px;
  margin: 0 auto;
}

header{
  background-color: #E9F1F1;
}

.header-logo{
  width: 100px;
  height: 100px;
}

.header-logo img{
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;
}

.header-logo img:hover{
  transform: scale(1.2);
}

header button{
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 70%;
  right: 25px;
  margin-top: 15px;
}

header{
    display: flex;
    padding: 0;
    margin-top: 0px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.header-category{
  display: none;
}

.main-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header a {
  margin: 10px;
  text-decoration: none;
  color: #222222;
  padding: 5px 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

body main button.pago{
  background-color: #161850; 
  border: none; 
  color: white; 
  padding: 15px 32px;  
  text-decoration: none; 
  display: inline-block;
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 18px;   
}

body main p i.fa-cc-visa {
  font-size: 30px;
  color: #161bbd;
  transition: color 250ms;
}

body main p i.fa-cc-visa:hover {
  color: yellow; 
}

body main p i.fa-cc-mastercard {
  font-size: 30px;
  color: red;
  margin-left: 10px;
  transition: color 250ms;
}

body main p i.fa-cc-mastercard:hover {
  color: yellow; 
}

body main p i.fa-brands fa-cc-visa{
  color: #161850;
}

main section div{
  display: flex;
}

main img {
  width: 150px;
  height: 150px;
  border: 2px solid black;
}

.resumen{
  margin: 10px;
}

.resumen,
.pagar {
  margin-left: 20px;
}

.resumen p {
    margin-bottom: 10px; 
}

.pagar{
    margin-top: 90px;
    margin-bottom: 10px;
}

.header-logo {
  width: 100px;
  height: 100px;
}

.main-content{
  display:flex;
  justify-content: space-between;
}

.main-content section .carrito{
  width: 50%;
}

.main-content .resumenPago{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.foot .logo-footer {
  padding-top: 17px;
}

footer .foot {
  display: flex;
  background-color: #E9F1F1;
  justify-content: space-around;
  padding: 10px;
}

.logo-footer {
  display: none;
}

footer .column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .redes {
  width: 100%;
  padding: 0.5rem 8%;
  background-color: #E9F1F1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-top:  1px solid #cdcaca;
}

.redes a {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #999898;
  margin: 1rem;
  background-position: center;
  background-size: 40%;
  transition: background-color 250ms, filter 250ms;
}

.redes i {
  margin: 1rem;
  color: #262f75
}

.redes a:hover {
  background-color: #919d62;
  filter: invert(1);
}

footer h3, footer a, footer p{
  margin-bottom: 10px;
  font-family: 'Fira Sans', sans-serif;
}

footer .foot h3{
  color:#120462;
  padding-top:10px;
}

footer .ayuda li a, footer p {
  color: #262f75;
}

.ayuda a {
  text-decoration-line: none;
}

label {
  display: block;
  margin-bottom: 8px;
}

@media (min-width: 361px) {
  
  .header-menu{
    display: none;
  }
  
  .header-category{
    display: flex;
  }

}
  
@media (min-width: 769px) {
  
  .header-menu{
    display: none;
  }

  .header-category{
    display: flex;
  }
  
  .logo-footer {
  display: flex;
  }

}

