*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
main article img{
    width:50%; 
    height:50%;
}
.main-header {
    background-color: #E9F1F1;
    font-family: "Roboto", sans-serif;
    padding: 0px 10px;
    display: flex;
  }

  .logo{
    width: 100px;
    height: 100px;
    
  }
  

.opciones{
    display: none;
}

  .main-navbar {
    display: flex;
    padding: 0;
    margin-top: 0px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  
  .main-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

  }
  .main-header a {
    margin: 10px;
    text-decoration: none;
    color: #222222;
    padding: 5px 0; 
  }
  .navbar{
    display: flex;
    justify-content: space-around;
  }
  .menu{
    text-align: center;
    display: block;
}

.menu i{
    text-align: center;
    background-color: #161850;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}
.titulos{
    display: flex;    
    justify-content: space-between;

}
.titulos h3{
    display: flex;
}
.titulos i{
    display: flex;
}
.flechas{
    display: flex;
}
main section{
    display: flex;
    flex-wrap: wrap;
}
main section article{
    background-color: #fff;    
    margin: 10px 0px;
  }
  
  main section article img{
    width: 100%;
  }
  main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
  }
  article div.main-product{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
  }
  footer{
    display: flex;
    background-color: #E9F1F1;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
    padding: 10px;
    padding: 10px;
  }

  .logo-footer{
    display: none;
  }
 footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
 }
 .redes{
    width: 25%;
    margin-right: 10px;
 }

 .redes h3{
    text-align: center;
 }

 .redes-sociales{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
 }
 

 .column h3{
    text-align: center;
 }

 .ayuda a{
    text-decoration-line: none;
    color: black;
 }

 @media (min-width: 361px){
    .menu {
        display: none;

    }
    .opciones{
        display: flex;
    }
    
 }

 @media (min-width: 769px){
    .menu {
        display: none;
    }
    .opciones{
        display: flex;
    }
    main section div.productos article{
        width: 22%;
    }
    .logo-footer{
        display: flex;
      }
 }