 <footer>
        <div class="redes">
          <h3>Nuestras Redes Sociales</h3>
          <ul class="redes-sociales">
            <li>
              <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
    
        <div class="column">
          <h3>Contacto</h3>
          <p>Dirección: xyz. Sgo del Estero - Arg.</p>
          <p>Email: contacto@zapp.com</p>
          <p>Teléfono: +5493854000000</p>
        </div>
    
        <div class="column">
          <h3>Ayuda</h3>
          <ul class="ayuda">
            <li><a href="#">Envíos y entregas</a></li>
            <li><a href="#">Cambios</a></li>
            <li><a href="#">Devoluciones</a></li>
            <li><a href="#">Opciones de pago</a></li>
            <li><a href="#">Prguntas frecuentes</a></li>
          </ul>
        </div>
    
        <div class="logo-footer">
          <img class="logo" src="/img/utils/Zapp-alt.png" alt="Zapp logo" />
        </div>
      </footer>
