<header class="main-header">
  <div class="main-navbar">
    <img class="logo" src="/img/utils/Zapp-alt.png" alt="Logo Zapp" />
    <div class="opciones">
      <h4><a href="#">Hombres</a></h4>
      <h4><a href="#">Mujeres</a></h4>
      <h4><a href="#">Niñ@</a></h4>
      <!-- <ul>
        <li><a href="#">Hombres</a></li>
        <li><a href="#">Mujeres</a></li>
        <li><a href="#">Niñ@</a></li>
      </ul> -->
    </div>
    <div class="opciones">
      <ul>
        <li>
          <a href="./users/shopping-cart"><i class="fas fa-shopping-cart"></i></a>
        </li>
        <li>
          <a href="./users/login"><i class="fas fa-user"></i></a>
        </li>
      </ul>
    </div>
    <div class="menu">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</header>
