<header class="main-header">
  <div class="main-navbar">
    
    <div class="logo">
      <a href="/"><img src="/img/utils/Zapp-alt.png" alt="Logo Zapp" /></a>
    </div>
    
    <div class="opciones">
      <h4><a href="#">Hombres</a></h4>
      <h4><a href="#">Mujeres</a></h4>
      <h4><a href="#">Niñ@</a></h4>
    </div>

    <div class="opciones">
      <ul>
        <% if(!locals.isLoggedIn){ %>
        <li>
          <a href="./users/login" class= "image-login-cierre" ><i class="fas fa-user"></i></a>
        </li>
        <% }else{ %>
        <li>
          <a href="./users/shopping-cart"><i class="fas fa-shopping-cart"></i></a>
        </li>
        <li>
          <i class="fas fa-user"></i>
          <p>Hola!, <%= user.name %></p> 
        </li>
        <li>
        
          <form action="/users/logout" method="POST">
            <button type="submit">Cerrar Sesión</button>
          </form>
        
        </li>
        <% } %>
      </ul>
    </div>
    
    <div class="menu">
      <i class="fas fa-bars"></i>
    </div>
  
  </div>
</header>
