<header>
  
  <div class="logo">
    <a href="/"><img src="/img/utils/Zapp-alt.png" alt="Logo Zapp" /></a>
  </div>

  <% if(locals.isLoggedIn){ %>
    <ul class="logout">
      
      <li>
        <i class="fas fa-user"></i>
      </li>
      
      <li>
        
        <form action="/users/logout" method="POST">
          <button type="submit">Cerrar Sesión</button>
        </form>
      
      </li>

    </ul>
  <% } %>
  
</header>
