<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Perfiles</title>
</head>
<body>
    <%- include("../partials/userHeader")%>

    <main>
        <h2> Bienvenido <%= user.name %></h2>

        <img src="/img/usersImageProfile/<%= user.image %>" alt="imagen de usuario">

        <p>Correo electrónico: <%= user.email %></p>
    </main>
    
    <footer><p>Copyright® 2023 DH Venture Capitals. Todos los derechos reservados</p></footer>
</body>
</html>