<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/shopping-cart.css" />
    <title>Carrito de compras</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,500;1,600&family=Roboto:wght@700&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/6641947d89.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include("../partials/smallHeader")%>
    
    <main class="main-content">
        
        <section class="carrito">
            
            <h2>Tu carrito</h2>
            <img src="/img/mercaderia/ultraboost.jpg" alt="Zapatilla 1" width="200" height="200" >
            <img src="/img/mercaderia/ultraboost.jpg" alt="Zapatilla 2" width="200" height="200" >
            
        </section>
        
        <div class="resumenPago">
        
            <section class="resumen">
                <h2>Resumen del pedido</h2>
                <p>Entrega: 15/12</p>
                <p>Productos: 2</p>
                <p>Total a pagar: $15000</p>
            </section>

            <section class="pagar">
                <h2>Opciones de pago</h2>
                <div>
                    <p><i class="fa-brands fa-cc-visa" ></i></p>
                    <p><i class="fa-brands fa-cc-mastercard" ></i></p>
                </div>
                <button class="pago">IR A PAGAR</button>
            </section>
            
        </div>

    </main>
    <%- include("../partials/footer")%>
</body>
</html>